
 <%= form_for [ @gossip, @comment ] do |form| %>
    <p>
      <%= form.label :content %><br/>
      <%= form.text_area :content%>
    </p>
    <p>
      <%= form.submit 'Submit', :class => 'btn btn-primary' %>
    </p>
  <% end %>
