<div class="container text-center">
<br>
<h1>Pour nous contacter, c'est ici!</h1><br>
<img src="http://clipart-library.com/images/8iGnXoaia.gif" class="img-fluid max-width: 60%;" alt="Responsive image"><br>
</div>