/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.badge-primary:hover {
  background-color: #d44756 !important;
  color: #ffffff !important;
  border-width: 1px;
  border-style: solid;
}

.badge-primary {
  background-color: #ffffff !important;
  color: #d44756 !important;
  border-color: #d44756 !important;
  border-width: 1px;
  border-style: solid;
}

.clicked {
  background-color: #d44756 !important;
  color: #ffffff !important;
  border-color: #d44756 !important;
  border-width: 1px;
  border-style: solid;
}

.box {
  max-width: 650px;
  background-color: white;
  border-radius: 8px;
}

.box p {
  color: #eeb4ba;
}

.title {
  font-size: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
  color: #e7957f;
}

.wrapping {
  background-color: #ffffff !important;
}

.card {
  border-width: 2px !important;
  border-color: #eeb4ba !important;
  border-style: dotted !important;
  margin: 0px auto;
  padding: 20px;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 35px;
  padding-top: 35px;
  /* Added */
}

.page {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px
}

.content a {
  color: #eeb4ba;
}

.content a:hover {
  color: #d78b93;
}


.btn-lg {
  border: #eeb4ba !important;
  background-color: #eeb4ba !important;
  border-width: 2px !important;
  border-style: solid !important;
  color: #ffffff !important;

}

.btn-lg a {
  color: #ffffff !important;
}

.btn-lg:hover {
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #eeb4ba !important;
  color: #eeb4ba !important;
  background-color: #ffffff !important;
}

.btn-lg a:hover {
  color: #eeb4ba !important;
}

.btn-primary {
  background-color: #eeb4ba !important;
  border-color: #eeb4ba !important;
  color: #ffffff !important;
  outline: #d78b93 !important;
}

.btn-primary:hover {
  background-color: #ffffff !important;
  border-color: #eeb4ba !important;
  color: #eeb4ba !important;
}


.btn-outline-primary a {
  color: #eeb4ba !important;
}

.btn-outline-primary a:hover {
  color: #ffffff !important;
}

.btn-outline-primary {
  background-color: #ffffff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #eeb4ba !important;
  color: #eeb4ba !important;
}

.btn-outline-primary:hover {
  background-color: #eeb4ba !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #eeb4ba !important;
  color: #ffffff !important;
}

.btn-outline-success {
  border-color: #97d155 !important;
  background-color: #ffffff !important;
  color: #97d155 !important;
}

.btn-outline-success:hover {
  background-color: #97d155 !important;
  color: #ffffff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #97d155 !important;
}

.badge-success:hover {
  border-color: #97d155 !important;
  background-color: #ffffff !important;
  color: #97d155 !important;
}

.badge-success {
  background-color: #97d155 !important;
  color: #ffffff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #97d155 !important;
}

.btn-outline-danger {
  border-color: #e41e33 !important;
  background-color: #ffffff !important;
  color: #e41e33 !important;
}

.btn-outline-danger:hover {
  background-color: #e41e33 !important;
  color: #ffffff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #e41e33 !important;
}

.badge-danger:hover {
  border-color: #e41e33 !important;
  background-color: #ffffff !important;
  color: #e41e33 !important;
}

.badge-danger {
  background-color: #e41e33 !important;
  color: #ffffff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #e41e33 !important;
}

.btn-danger {
  background-color: #d44756 !important;
  color: #ffffff !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #d44756 !important;
}

.btn-danger:hover {
  border-color: #d44756 !important;
  background-color: #ffffff !important;
  color: #d44756 !important;
}

.btn-secondary {
  background-color: #9bbfc2 !important;
  border-color: #9bbfc2 !important;
}

.btn-secondary:hover {
  background-color: #73999c !important;
  border-color: #73999C !important;
}

.datetime {
  color: #C0C0C0;
}