/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.wrapping {
  background-color: #ffffff !important;
}

.card {
  border-width: 2px !important;
  border-color:  !important;
  margin: 0 auto;
  padding: 10px;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 35px;
  /* Added */
}

.card h5 {}

.card a {
  color: #F285A9;
}

.card a:hover {
  color: #b54264;
}

.page {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px
}

.page a {
  color: #F285A9;
}

.page a:hover {
  color: #b54264;
}


.btn-primary {
  border: #F285A9 !important;
  background-color: #F285A9 !important;
  border-width: 2px !important;
  border-style: solid !important;
  color: #ffffff !important;
}

.btn-primary a {
  color: #ffffff !important;

}

.btn-primary:hover {
  border-width: 2px !important;
  border-style: solid !important;
  border-color: #F285A9 !important;
  color: #F285A9 !important;
  background-color: #ffffff !important;
}

.btn-primary a:hover {
  color: #F285A9 !important;
}